@charset "utf-8";
/*reset*/
html, body, div, p, a, img, ul, li{
	margin: 0;
	padding: 0;
    border: 0;
    
}
ul{list-style: none;}
a img{border: none;}
img{display: block;}
body{ 	/*IMPORTANT*/
	width: auto !important;
	height: auto;
	font-family: Arial, sans-serif;
	font-size: 100%;
	color: #999;
	display: block;

}
a{
	text-decoration: none;
	color: #ccc;

}
h1, h2, h3, h4, h5, h6{
	font-family: "Times New Roman", serif;
	clear: both;
}