@import url('https://fonts.googleapis.com/css?family=Prompt:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Paytone+One');
@import url('https://fonts.googleapis.com/css?family=Trirong:400,500');

html{
    font-family: 'Prompt', sans-serif;
    color: #5a5a5a;
}

h1{
    font-family: 'Prompt', sans-serif;
}

h2{
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
}
h3{
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
}
.navbar-brand img{
    height: 50px;
}
.navbar .btn{
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.nav-item .btn-warning{
    color: white;
    background-color: #eb8d00;
    font-size: 14px;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.nav-item .btn-outline-warning:hover{
    color: white;
    background-color: #eb8d00;
}
.nav-item .btn-outline-warning:not(:disabled):not(.disabled):active{
    color: white;
    background-color: #d39e00;
    border-color: #c69500;
}
.navbar-light .navbar-nav .nav-link:focus{
    color: black;
}
.topmenu{
    height: 75px;
    background-color: #000;
}
.topmenu button{
    height: 75px;
    color: white;
    border: none;
    background: none;
    border-radius: 0;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    font-size: 16px;

}
.topmenu button:hover{
    background-color: #eb8d00;
}

.banner{
    font-family: 'Prompt', sans-serif;
    height: 290px;
    background-color: darkgray;
}
.banner h1{
    font-family: 'Paytone One', sans-serif;
    font-size: 40px;
    color: #eb8d00;
}
.banner h2{
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.search{
    height: 375px;
    margin-top: 40px;
}
.search .row{
    height: inherit;
}
.filter{
    background-color: #363636;
    height: inherit;
    padding: 32px;
}
.filteroption{
    height: 70px;
    width: 100%;
}
.filteroption p{
    color: white;
    font-family: 'Prompt', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0px;
}
.filteroption select{
    font-family: 'Prompt', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.filter button{
    font-family: 'Prompt', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.sponsor{
    height: inherit;
    padding: 15px;
    border-top: 2px solid #ffb13b;
    border-bottom: 2px solid #ffb13b;
}
.sponsor h3{
    color: #eb8d00;
    margin-bottom: 34px;
}
.sponsorbox{
    width: 100%;
    height: 70px;

}
.sponsorbox img{
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.sponsor h4{
    font-family: 'Prompt', sans-serif;
    color: #eb8d00;
    font-size: 14px;
    margin-bottom: 5px;
}
.sponsor p{
    font-family: 'Prompt', sans-serif;
    color: black;
    font-size: 13px;
    margin-bottom: 0px;
}
.sponsor a{
    text-decoration: none;
}
.sponsor i{
    color: #cfcfcf;
}

.skill{
    width: 100%;
    height: 185px;
    margin-top: 40px;

}
.skillbox{
    height: inherit;
    background-color: darkkhaki;
    width: 245px;
    padding: 10px;
    position: relative;
}
.skillbox img{
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.skillboxlabel{
    width: 165px;
    height: 30px;

    position: absolute;
    bottom: 10px;

    font-family: 'Prompt', sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    
    background-color: #eb8d00;
    color: white;
    border-radius: 5px;
}

.post{
    height: 990px;
    margin-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
}
.postmenu{
    width: 340px;
    height: 55px;
}

.postmenu button{
    width: 170px;
    height: 55px;
    color: #eb8d00;
    border: 1px solid #eb8d00;
    background: none;
    border-radius: 0;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    font-size: 16px;

}
.postmenu button:hover{
    color: white;
    background-color: #eb8d00;
}
.postmenu .active{
    color: white;
    background-color: #eb8d00;
}

.postbox{
    width: 100%;
    height: 215px;
    background-color: white;
}
.postbox img{
    max-width: 80%;
    max-height: 80%;
}
.postbox h3{
    color: #eb8d00;
}
.postbox p{
    font-family: 'Trirong', serif;
    color: #5a5a5a;
}
.postbox button{
    font-family: 'Prompt', sans-serif;
    background-color: #eb8d00;
    color: white;
}
.postbox h4{
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #5a5a5a;
}
.detail{
    height: 43%;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.postmore{
    height: 75px;
}
.postmore button{
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
    font-weight: 500;

}

.reference{
    height: 340px;
    margin-top: 40px;
    background-color: black;
}
.referenceboxtitle{
    height: 65px;
}
.referencebox{
    height: 275px;
}

.referencebox img{
    width: 65px;
    height: 65px;
    border-radius: 100%;
}
.referencebox p{
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: white;
}
.referencebox h3{
    margin-top: 20px;
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #eb8d00;
}

footer{
    height: 315px;
    margin-top: 40px;
}
.footerbox{
    height: 255px;
    margin-top: 60px;
    background-color: white;
}
footer h2{
    color: #eb8d00;
    font-size: 28px;
    font-weight: 700;
}
footer p{
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
    color: #5a5a5a;

}
footer a{
    margin-right: 20px;
}
footer h3{
    color: #5a5a5a;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
}
footer li{
    font-family: 'Prompt', sans-serif;
    color: #5a5a5a;
    font-size: 14px;
    margin-top: 5px;
}
.footerbox a{
    color: #5a5a5a;
    text-decoration: none;
}
.footerbox .fas{
    margin-right: 10px;
    color: #eb8d00;
}